{% extends "base.html" %}

{% block content %}

<h3>Document: {{doc.title}}</h3>

<div class="btn-group">
  <a href="/docs/{{doc.id}}/edit" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-edit"></i>
    Edit Document
  </a>
  <a href="/docs/{{doc.id}}/delete" class="btn btn-danger btn-sm">
    <i class="glyphicon glyphicon-trash"></i>
    Delete Document
  </a>
</div>
<div class="media-body">
    <h5 class="doc-author">Uploaded By: {{doc.author|default('Unknown', True)}} ID: {{doc.authorid|default('Unknown', True)}} on {{doc.publishedDate}}</h5>
    <p class="doc-description">Description: {{doc.description}}</p>
</div>
<div class="media">
  {# [START doc_image] #}
  <div class="media-left">
    {% if doc.imageUrl %}
      <img class="doc-image" src="{{doc.imageUrl}}" style="max-height: 80%; max-width: 80%;">
    {% else %}
      <img class="doc-image" src="/static/images/document.png">
    {% endif %}
  </div>
  {# [END doc_image] #}
</div>
{% endblock %}